// colors
$color-primario:#1d2029;
$color-secundario:#0c0c1a;
$color-grey-light-1:#e8f1f3;
$color-black:#111;
$color-dark: #333;
$color-white: #fff;
// fonts
$default-font-size:1.6rem;
$button-size:2rem;
// grid css variables
$row-grid-width:146rem;
$gutter-vertical:8rem;
$gutter-horizontal:6rem;